@page "/teammates/details"
@inject RedRotation.Data.RedRotationContext DB
@using RedRotation.Model
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Teammate</h4>
    <hr />
    @if (teammate is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@teammate.Name</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@teammate.Description</dd>
        </dl>
        <div>
            <a href="@($"/teammates/edit?id={teammate.Id}")">Edit</a> |
            <a href="@($"/teammates")">Back to List</a>
        </div>
    }
</div>

@code {
    Teammate? teammate;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        teammate = await DB.Teammate.FirstOrDefaultAsync(m => m.Id == Id);

        if (teammate is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
